* {
  box-sizing: border-box;
}

body,
#root,
.app {
  height: 100%;
}

.layout-app {
  height: 100%;
}

.layout-page {
  height: calc(100% - 37px);
}

.layout-page > .ant-layout {
  height: 100%;
}

#main-content {
  height: 100%;
}
